h2, p { margin-bottom: 2.4rem}

h1          {font: 700 2.0rem/1.2 "Consolas"; color: hsl(000, 0%, 33%)}
h2          {font: 400 1.5rem/1.2 "Consolas"; color: hsl(000, 0%, 33%)}
time        {font: 700 1.0rem/1.2 "Consolas"; color: rgb(125, 36, 226)}
h3          {font: 700 1.0rem/1.2 "Consolas"; color: rgb(163, 36, 226)}
p           {font: 400 1.0rem/1.5 "Consolas"; color: hsl(000, 0%, 33%)}
figcaption p {font: 400 1.0rem/1.5 "Consolas"; color: rgb(190, 182, 182)}

a { box-shadow: inset 0 -0.15em  rgb(0, 21, 255); }

@media (max-width: 8.5in) {root {font-size: 18px}}
@media (max-width: 5.0in) {root {font-size: 16px}}